doctype html
html 
    head 
        title Price Comparison Site
        style
            include styles.css
    body 
        div.container
            include header.pug
            div.container
                h2 Products
                div.flex-container
                    each group in groups
                        include list-card.pug
