doctype html
html 
    head 
        title Price Comparison Site
        style
            include styles.css
    body 
        h1 Home
        h2 Products
        each group in groups
            include productList.pug
