- var 
html 
    head 
        title=group.name
        style
            include styles.css
    body
        div.flex-container
            div.flex-sixty.middle
                img.singleImage.center(src=group.products[0].images[0].url)
            div.flex-thirty.middle
                div
                    h1=group.name
                    div !{group.products[0].description}
                    div.bestPrice Best price: $555
                    div 
                        button.buyButton BUY NOW
        