- var isCheapest = product.orderByPrice === 0
tr
    td: a.business(href=product.storeUrl) #{product.businessName}
    td: span.price $#{product.prices[0].price}
    td: if isCheapest
        span.cheapest CHEAPEST
    td: a.purchase(href=product.absolutPath) Buy now 
    