* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

a {
  all: unset;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.middle {
  display: flex;
  align-items: center;
}

.header {
  background-color: #f66035;
}

.in-headr {
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  border-width: 1px;
  border-color: #7a8891;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}

.productName {
  font-size: x-large;
}

.price {
  font-size: medium;
  color: green;
  font-weight: bold;
}

.bestPrice {
  font-size: xx-large;
  font-weight: bold;
}

.buyButton {
  border-style: none;
  border-radius: 100rem;
  width: 100%;
  text-align: center;
  background-color: red;
  border-color: red;
  border-style: solid;
  color: white;

  font-size: x-large;
  font-weight: bold;

  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.buyButton:hover {
  color: red;
  background-color: white;
  border-color: red;
  border-style: solid;
}

.purchase {
  border-radius: 4px;
  padding: 4px;
  background-color: bisque;
}

.cheapest {
  border-radius: 4px;
  padding: 4px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.cardImage {
  width: 120px;
}

.singleImage {
  max-height: 400px;
}

.business {
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-card {
  width: 250px !important;
  margin-right: 32px !important;
  margin-left: 32px !important;
}

.flex-sixty {
  width: 60% !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.flex-thirty {
  width: 30% !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.flex-container > div {
  width: auto;
  margin: 10px;
}

th {
  text-align: left;
}

td {
  min-width: 150;
  min-height: 80px;
}
